<!-- Primera historia de usuario -->
<%= @player_1_name %> vs. <%= @player_2_name %>

<!-- Segunda historia de usuario -->
<%= @player_2_name %>: 60HP
<!-- Tercera historia de usuario -->
<a href="/attack">Attack</a>